
<div class="col-md-3 my-sidebar">
  <div class="well sidebar-nav">
      <h3>Categories</h3>
      <div class="btn-group my-group" data-toggle="buttons">
      <% @categories.each do |key,value| %>
        <label class="btn btn-primary btn-block">
        <input type="radio" value="<%= key%>" id="<%= value%>" autocomplete="off"> <%= key %>
        </label><br>
      <% end %>
    </div>
  </div>
</div>

