\// jQuery('#flash_area').html(#{});


$('##{@id}').replaceWith('
.btn.btn-success{:disabled => "disabled"}> ' + "Item saved" + "
")
\//$('##{@id}').removeClass("btn-info").addClass("btn-success").replaceWith("ITEM SAVED");
\//$('##{@id}').replaceWith(
.btn.btn-success>
'&gt;Item saved
