<h1>Products</h1>
	

<br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name </th>
        <th>Price</th>
        <th>Ending time </th>
        <th>Image</th>
        
      </tr>
    </thead>
    <tbody>
    
      <% @data.each do |item| %>
      <tr>
  	        <td><%= item.name %></td>
  	        <td><%= item.price %></td>
  	        <td><%= item.ending_time %></td>
  	        <td><img src="<%= item.thumb_url %>" class="img-thumbnail"></td>
  	   </tr>
        
      <% end %>
    </tbody>
  </table>
</div>
